* {
    margin: 0;
    padding: 10;
}

body {
    background: #fff1bf;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    background: #ffd5c7;
}

.counter {
    width: '30px';
    height: '40px';
    border: '1px solid blue'
}


#commentBar {
    background: #ffd5c7;
}

.comment {
    background: #beedcc;
}

.reply {
    background: #95e8ae
}

